@import "../base/config";

.introduction,
.guidance {
	line-height: 1.4rem;
}

.guidance ul li {
	list-style-type: "\2023";
}

li::marker {
	font-size: 1.7rem;
	color: $blue;
}

// OUR PARTNERS
.box {
	border: 1px solid $grey;
}
